.vi-accordion__header {
  background-color: var(--vi-accordion-bg, var(--body-bg));
  color: var(--vi-accordion-color, var(--body-color));
  font-weight: var(--vi-accordion-fw, 400);
  transition:
    background-color var(--vi-accordion-duration, 150ms) ease,
    color var(--vi-accordion-duration, 150ms) ease;

  &:hover {
    --vi-accordion-bg: var(--vi-accordion-hover-bg, var(--light));
    --vi-accordion-color: var(--vi-accordion-hover-color, var(--body-color));
  }

  &[aria-expanded='true'] {
    --vi-accordion-color: var(--vi-accordion-active-color, var(--body-color));
    --vi-accordion-bg: var(--vi-accordion-active-bg, var(--light));
    --vi-accordion-fw: var(--vi-accordion-active-fw, 600);

    .vi-accordion__caret {
      transform: rotate(180deg);
    }
  }
}

.vi-accordion__caret {
  transition: transform var(--vi-accordion-duration, 150ms) ease;
}
