{
  "plugins": ["@destination/prettier-plugin-twig"],
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.twig",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
