.btn {
  @extend .d-inline-flex, .align-items-center, .justify-content-center;
  --#{$prefix}btn-line-height: 1.5;
  --#{$prefix}btn-padding-x: var(--#{$prefix}spacing-3);
  --#{$prefix}btn-padding-y: var(--#{$prefix}spacing-2);
  gap: var(--#{$prefix}btn-gap, var(--#{$prefix}spacing-3));
  align-items: center;

  &:focus,
  &[aria-expanded="true"] {
    color: var(--btn-active-color);
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-border-color);
  }
}
