/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/5.3/customize/sass/#variable-defaults
*/
$enable-cssgrid: true;
$prefix: bs-;

/** Grid **/
$grid-breakpoints: (
	xs: 0,
	sm: 420px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-max-widths: (
	xs: 360px,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px
);

/** Colors **/
$colors-palette: (
	'pale-peach': #FBE6DD
);

$primary: map-get($colors-palette, 'pale-peach');

/** Fonts **/
$sw-font-family-base: 'Figtree', sans-serif;
$sw-font-family-headline: $sw-font-family-base;

/** Borders **/
$sw-border-color:             rgb(from var(--#{$prefix}black) r g b / 0.1);

$border-radius-sm:            3px;
$border-radius:               6px;
$border-radius-lg:            10px;
$border-radius-xl:            16px;
$border-radius-xxl:           24px;
$border-radius-pill:          50rem;

/** Shadows **/
$box-shadow:                  0 .5rem 1rem rgb(from var(--#{$prefix}black) r g b / 0.1);

/** Buttons **/
$btn-font-weight: 550;