.checkout-delivery-date-selection-container {
    margin-block: var(--checkout-delivery-date-margin-block, 1rem);
}

.checkout-delivery-date-selection-title {
    font-size: var(--checkout-delivery-date-title-font-size, 1rem);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.checkout-delivery-date-selection-control {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}