.btn-primary {
  --btn-color: var(--body-color);
}

.header-action {
  --icon-size: 24px;
  --btn-border-radius: var(--border-radius-pill);
  --btn-hover-bg: var(--sw-color-brand-light);
  --btn-active-bg: var(--btn-hover-bg);
  --btn-active-border-color: transparent;

  .badge {
    --badge-position: absolute;
    --badge-padding-x: 4px;
    --badge-padding-y: 4px;
    --badge-font-size: 12px;
    --badge-min-w: 20px;
  }
}

.vi-search-suggest__results {
  --columns: 4;
}
