.vi-cart-items {
  .vi-cart-items__header-info {
    grid-column: var(--vi-span, auto);
  }

  &[data-layout='grid'] {
    grid-template-columns: var(--vi-cols, var(--vi-image-size, 80px) minmax(0, 1fr));

    @media (min-width: 1260px) {
      --vi-cols: var(--vi-image-size, 80px) minmax(0, 1fr) minmax(104px, auto) auto minmax(72px, auto) minmax(80px, auto);
      --vi-span: span 2;
    }
  }
}
