.vi-scroll-area[data-scroll-up='true'][data-scroll-down='true'] {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 var(--vi-fade, 40px),
    #000 calc(100% - var(--vi-fade, 40px)),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 var(--vi-fade, 40px),
    #000 calc(100% - var(--vi-fade, 40px)),
    transparent
  );
}

.vi-scroll-area[data-scroll-up='true'][data-scroll-down='false'] {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 var(--vi-fade, 40px),
    #000 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 var(--vi-fade, 40px),
    #000 100%
  );
}

.vi-scroll-area[data-scroll-up='false'][data-scroll-down='true'] {
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--vi-fade, 40px)),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--vi-fade, 40px)),
    transparent
  );
}
