.vi-line-item {
  min-width: 0;
  grid-template-columns: var(--vi-line-item-cols, auto minmax(0, 1fr));
  grid-template-areas: var(--vi-line-item-areas, 'cover content' 'cover footer');

  &[data-layout='stacked'] {
    .vi-line-item__image {
      grid-area: cover;
    }

    .vi-line-item__content {
      grid-area: content;
    }

    .vi-line-item__footer {
      grid-area: footer;
    }
  }

  &[data-layout='grid'] {
    .vi-line-item__footer {
      grid-column: 1 / -1;
    }

    .vi-line-item__price {
      grid-column: var(--vi-price-col, auto);
    }

    @media (min-width: 1260px) {
      &.vi-line-item--promotion {
        --vi-price-col: 6;
      }
    }
  }
}

.vi-line-item__image {
  width: var(--vi-image-max-w, 80px);
}