.vi-progress-sm {
    --progress-height: var(--vi-progress-height, 6px);
}
.vi-progress-md {
    --progress-height: var(--vi-progress-height, 10px);
}
.vi-progress-lg {
    --progress-height: var(--vi-progress-height, 16px);
}