.vi-gallery-dot {
  inline-size: var(--vi-dot-size, 10px);
  aspect-ratio: var(--vi-dot-ar, 1);
  border-radius: var(--vi-dot-radius, 100px);
  border: var(--vi-dot-border-w, 2px) solid var(--vi-dot-border, #6c757d);
  background: var(--vi-dot-bg, transparent);
  appearance: none;
}

.vi-gallery-dot[aria-current='true'] {
  border-color: var(--vi-dot-active-border, var(--primary));
  background: var(--vi-dot-active-bg, var(--primary));
}
