.vi-navigation-drawer-item__image {
    width: var(--vi-navigation-drawer-item-image-size, 1.75rem);
    border-radius: var(--vi-navigation-drawer-item-image-radius, 0.25rem);
    aspect-ratio: var(--vi-navigation-drawer-item-image-aspect-ratio, 1 / 1);
    object-fit: var(--vi-navigation-drawer-item-image-fit, cover);
}
