.vi-search-suggest-item {
    transition: all 200ms;
    text-decoration-line: var(--vi-decoration, none) !important;

    &:hover,
    &:focus-visible {
        background-color: var(--vi-hover-bg, var(--light));
    }
}
