.vi-search-suggest-item {
    transition: all 200ms;
    text-decoration-line: var(--decoration-line, none) !important;

    &:hover,
    &:focus-visible {
        background-color: var(--item-hover-bg-color, var(--light));
    }
}